.conteinerContact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 99%;
    min-height: 80vh;
    border-radius: 50%;
    margin: 20px 2px 20px 2px;
    flex-wrap: wrap;
    box-shadow: 14px 9px 31px 2px rgba(4, 192, 158, 0.5);
}

.icon {
    position: absolute;
    left: 27.4%;
    top: 38.5%;
    font-size: 50px;
    animation: iconsAnimation1 2.4s ease-in-out;
}

.icon1{
    position: absolute;
    left: 20%;
    top: 48.7%;
    font-size: 50px;
    animation: iconsAnimation2 1.4s ease-in-out;
}

.icon2{
    position: absolute;
    left: 65.4%;
    top: 74.9%;
    font-size: 50px;
    animation: iconsAnimation3 2.6s ease-in-out;
}

.icon3{
    position: absolute;
    top: 55.7%;
    left: 70.5%;
    font-size: 50px;
    animation: iconsAnimation4 2.4s ease-in-out;

}

.icon4{
    position: absolute;
    top: 36.6%;
    left: 64.8%;
    font-size: 50px;
    animation: iconsAnimation5 2.8s ease-in-out;
}

.icon:hover,
.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
  color: rgba(0, 255, 255, 0.944);
}

.contactMeConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    min-height: 5vh;
    gap: 1px;
}

.h2 {
    color: rgb(237, 232, 232);
    font-size: 50px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 7px 4px 10px 2px rgba(4, 192, 158, 0.5);
    border-radius: 60%;
    background-color: rgb(0, 0, 0);
    animation: h2Animation 3s ease-in-out;
}

.h2:hover {
    background-color:rgba(0, 255, 255, 0.944);
    color: black;
}

.conteinerRedes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 2px;
    padding: 1px;
}

.h3Numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3px;    
}

.h3Icons {
    color: antiquewhite;
}

.containerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50vh;
    border-radius: 30%;
    box-shadow: 5px 4px 10px 2px rgba(4, 192, 158, 0.772);
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 30%;
}

@keyframes iconsAnimation1 {
    0% {
        top: 30%;
        left: 39%;
        z-index: -1;
    }    
    100%{
        top: 38.5%;
        left: 27.5%;
    }
}

@keyframes iconsAnimation2 {
    0% {
        top: 37%;
        left: 40%;
        z-index: -1;
    }    
    50% {
        top: 40%;
        left: 30%;
    }
    100%{
        top: 48%;
        left: 20.7%;
    }
}

@keyframes iconsAnimation3 {
    0% {
        top: 64%;
        left: 70%;
        z-index: -1;
    }    
    50% {
        top: 65%;
        left: 67%;
    }
    100%{
        top: 74.9%;
        left: 65.5%;
    }
}

@keyframes iconsAnimation4 {
    0% {
        top: 47%;
        left: 63.3%;
        z-index: -1;
    }    
    50% {
        top: 52.8%;
        left: 68.4%;
    }
    100%{
        top: 55.7%;
        left: 70.5%;
    }
}

@keyframes iconsAnimation5 {
    0% {
        top: 30%;
        left: 58%;
        z-index: -1;
    }    
    50% {
        top: 33%;
        left: 62%;
    }
    100%{
        top: 36.6%;
        left: 64.8%;
    }
}

@keyframes h2Animation {
    0% {
        z-index: -1;
        font-size: 1px;
    }      
    50% {
        z-index: 1;
        font-size: 70px;
    }
    100% {
        z-index: 1;
        font-size: 50px;
    }
}